##################################################################################################
#This file created by Huy Nguyen
#Updated date: 6/30/2024
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# To check pass condition in log file, format as string 
pass_key_word = "TEST PASSED"

# To check fail condition in log file, format as string 
fail_key_word = "TEST FAILED"

# Set verbosity option for UVM testbench (Not supported yet)
pl = UVM_LOW

tc_list {
  // FULL
    // data_width
  uart_FULL_5bit_data_test, run_times=2, run_opts= ;
  uart_FULL_6bit_data_test, run_times=2, run_opts= ;
  uart_FULL_7bit_data_test, run_times=2, run_opts= ;
  uart_FULL_8bit_data_test, run_times=2, run_opts= ;
  uart_FULL_9bit_data_test, run_times=2, run_opts= ;
    // parity_mode
  uart_FULL_odd_parity_test, run_times=2, run_opts= ;
  uart_FULL_even_parity_test, run_times=2, run_opts= ;
  uart_FULL_no_parity_test, run_times=2, run_opts= ;
    // num_of_stop_bit
  uart_FULL_1_stop_bit_test, run_times=2, run_opts= ;
  uart_FULL_2_stop_bit_test, run_times=2, run_opts= ;
    // baud_rate
  uart_FULL_4800_baud_test, run_times=2, run_opts= ;
  uart_FULL_9600_baud_test, run_times=2, run_opts= ;
  uart_FULL_19200_baud_test, run_times=2, run_opts= ;
  uart_FULL_57600_baud_test, run_times=2, run_opts= ;
  uart_FULL_115200_baud_test, run_times=2, run_opts= ;
    // parity_error
  uart_FULL_parity_error_test, run_times=2, run_opts= ;
  uart_FULL_parity_normal_test, run_times=2, run_opts= ;

  // HALF
    // data_width
  uart_HALF_5bit_data_test, run_times=2, run_opts= ;
  uart_HALF_6bit_data_test, run_times=2, run_opts= ;
  uart_HALF_7bit_data_test, run_times=2, run_opts= ;
  uart_HALF_8bit_data_test, run_times=2, run_opts= ;
  uart_HALF_9bit_data_test, run_times=2, run_opts= ;
    // parity_mode
  uart_HALF_odd_parity_test, run_times=2, run_opts= ;
  uart_HALF_even_parity_test, run_times=2, run_opts= ;
  uart_HALF_no_parity_test, run_times=2, run_opts= ;
    // num_of_stop_bit
  uart_HALF_1_stop_bit_test, run_times=2, run_opts= ;
  uart_HALF_2_stop_bit_test, run_times=2, run_opts= ;
    // baud_rate
  uart_HALF_4800_baud_test, run_times=2, run_opts= ;
  uart_HALF_9600_baud_test, run_times=2, run_opts= ;
  uart_HALF_19200_baud_test, run_times=2, run_opts= ;
  uart_HALF_57600_baud_test, run_times=2, run_opts= ;
  uart_HALF_115200_baud_test, run_times=2, run_opts= ;
    // parity_error
  uart_HALF_parity_error_test, run_times=2, run_opts= ;
  uart_HALF_parity_normal_test, run_times=2, run_opts= ;
}
